.edit-title{
    font-size: 20px;
    font-weight: 600;
}

.edit-list{
    padding: 20px;
    border-radius: 15px;
    background-color: var(--nav-bg);
}

.text-underline{
    text-decoration: underline;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid #ff5d5d;
}

.border-active{
    border: solid 1px var(--active-color);
}
