.navbar{
    background-color: var(--nav-bg);
    color: var(--text-color)
}

.nav-buttons{
    display: flex;
    gap: 20px;
}

.nav-link{
    padding: 8px;
    border-radius: 20px;
    transition: all .5s;
}

.nav-link:hover{
    background-color: var(--hover-link);
    color: var(--active-color);
}

.title-nav{
    font-size: 20px;
    font-weight: 500;
}

.icon-hover{
    height: 100%;
    border-radius: 15px;
}

.active-nav{
    background-color: var(--hover-link);
    height: 100%;
    border-radius: 20px;
}