.recipe-detail{
    border-radius: 20px;
    padding: 30px;
    padding-top: 10px;
    background-color: var(--nav-bg);
}

img{
    margin-block: 15px;
    border-radius: 20px;
}

h3{
    text-decoration: underline;
}

.bold{
    font-weight: 700;
}

.li-list{
    margin: 0;
    padding: 0;
}

.flex-button{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

li.li-list{
    border-bottom: solid 1px transparent;
    border-radius: 5px;
    padding: 5px;
}

li.li-separation{
    border-bottom: solid 1px gray;
    border-radius: 5px;
    padding: 10px;
}