.footer-t{
    width: 90%;
    margin-inline: 5%;
    display: flex;
    justify-content: center;
    border-top: 1px solid gray;
}

.text-footer{
    text-decoration: none;
    font-size: 12px;
    font-family: system-ui;
    color: gray;
}

.content {
    min-height: 90%;
    margin: 0 auto -50px;
}

.footer, .push {
    height: 50px;
}

.push{
    margin-bottom: 50px;
}