<div class="row">
    <div class="col-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-5 form-group">
                    <label for="name">Nome</label>
                    <!-- #nameIngrediente - Referencia para pegar valor pelo TS -->
                    <!-- <input type="text" id="name" class="form-control bg-form shadow-none" #nameIngrediente> -->
                    <input type="text" id="name" class="form-control bg-form shadow-none" name="name" ngModel required>
                </div>
                <div class="col-2 form-group">
                    <label for="amount">Quantidade</label>
                    <!-- #qntIngrediente - Referencia para pegar valor pelo TS -->
                    <!-- <input type="number" id="amount" class="form-control bg-form shadow-none" #qntIngrediente> -->
                    <input type="number" id="amount" class="form-control bg-form shadow-none" name="amount" ngModel required [pattern]="'^[1-9]+[0-9]*$'">
                </div>             
            </div>
            <div class="flex-buttons">
                <div class="pt-3">
                    <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editMode ? 'Editar' : 'Adicionar'}}</button>
                    <button class="btn btn-danger mx-3" type="button" [disabled]="!editMode" (click)="onDeleteIngredient()">Deletar</button>                    
                </div>
                <div class="clearEdit">
                    <button class="button-clear" type="button" (click)="onClear()" *ngIf="editMode">
                        <span class="material-symbols-outlined icon-link span-hover">
                            close
                        </span>
                    </button> 
                    <button class="btn btn-primary" type="button" (click)="clearIngredientList()">Excluir Lista</button>                                       
                </div> 
            </div>
        </form>
    </div>
</div>